<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- Exemplo de feed privado (descomente e ajuste)
    <add key="FrutNaturaPackages" value="https://nuget.pkg.github.com/frutnatura/index.json" />
    -->
	</packageSources>

	<!-- Se usar feed privado com token, configure no ambiente do CI/CD (NUGET_AUTH_TOKEN) -->
	<!--
  <packageSourceCredentials>
    <FrutNaturaPackages>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </FrutNaturaPackages>
  </packageSourceCredentials>
  -->
</configuration>
